html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.leaflet-container {
  background: #aad3df;
  font-family: 'Inter', sans-serif;
}

.custom-pin-icon {
  background: transparent;
  border: none;
}
